$size: 500px;
$half-size: $size / 2;

%debug {
  // box-shadow: 0 0 0 1px rgba(#f00, .5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 62.5% / 2 sans-serif;
  background: #222;
  overflow: hidden;
}

#game {
  @extend %debug;
  position: relative;
  padding: 1px;
  margin: 60px auto 0;
  width: $size;
  height: $size;
  border-radius: $size;

  &.over {
    .ball { opacity: 0; }
    #game-over { opacity: 1; }
  }
}

#game-over {
  color: #eee;
  font-size: 2.4em;
  margin-top: 10em;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .5s;
}

.ball {
  $size: 20px;
  position: absolute;
  width: $size;
  height: $size;
  margin-top: -$size / 2;
  margin-left: -$size / 2;
  border-radius: $size;
  background: #eee;
  -webkit-transition: opacity .5s;
}

.player {
  @extend %debug;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: $half-size;
  -webkit-transform-origin: 50% 0;
  -webkit-transform: rotate(0deg);
  -webkit-transition: all .25s;

  &.entering { opacity: 0; }
  &.exiting  { opacity: 0; }
}

.paddle {
  $width: 300px;
  $height: 100px;
  @extend %debug;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -40px;
  width: $width;
  height: $height;
  -webkit-transition: margin-top .5s ease-in;

  .arc {
    opacity: .5;
    stroke-width: 20px;
    -webkit-transition: stroke .5s linear;
  }

  .player[data-health="3"] & .arc { stroke: hsl(90, 75%, 30%); }
  .player[data-health="2"] & .arc { stroke: hsl(40, 75%, 46%); }
  .player[data-health="1"] & .arc { stroke: hsl(05, 75%, 40%); }

  .exiting & { margin-top: 1000px; }

  .user &:after {
    content: "★";
    font-size: 2rem;
    position: absolute;
    top: 1.2em;
    left: 50%;
    margin-left: -.7em;
    color: rgba(#fff, .8);
  }
}


.angle {
  @extend %debug;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
}

@for $i from 0 through 20 {
  .angle:nth-child(#{$i}) { -webkit-transform: rotate(#{$i * 22.5}deg); }
}
